Com.MM.Service.Core.Lib/bin
Com.MM.Service.Core.Lib/obj
Com.MM.Service.Core.WebApi/bin
Com.MM.Service.Core.WebApi/obj
Com.MM.Service.Core.WebApi/appsettings.json
Com.MM.Service.Core.WebApi/Properties/launchSettings.json